<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home Hotel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @{ var a = TempData["User"];}
                @{TempData["User"] = a; }
                @if (a is Employee)
                    {
                <div class="btn-group">
                    <a href="#" class="btn btn-brown" data-toggle="dropdown" aria-expanded="false">
                        Редактирование
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Клиенты", "ClientCollection", "Client", routeValues: null, htmlAttributes: new { @style = "font-size:18px" })</li>
                        <li>@Html.ActionLink("Сотрудники", "EmployeeCollection", "Employee", routeValues: null, htmlAttributes: new { @style = "font-size:18px" })</li>
                        <li>@Html.ActionLink("Должности", "JobCollection", "Job", routeValues: null, htmlAttributes: new { @style = "font-size:18px" })</li>
                        <li>@Html.ActionLink("Типы услуг", "TypeOfServiceCollection", "TypeOfService", routeValues: null, htmlAttributes: new { @style = "font-size:18px" })</li>
                        <li>@Html.ActionLink("Типы оплат", "TypeOfPriceCollection", "TypeOfPrice", routeValues: null, htmlAttributes: new { @style = "font-size:18px" })</li>
                        <li>@Html.ActionLink("Услуги", "ServiceCollection", "Service", routeValues: null, htmlAttributes: new { @style = "font-size:18px" })</li>                      
                        <li>@Html.ActionLink("Номера", "RoomCollection", "Room", routeValues: null, htmlAttributes: new { @style = "font-size:18px" })</li>
                        <li>@Html.ActionLink("Типы номеров", "TypeOfRoomCollection", "TypeOfRoom", routeValues: null, htmlAttributes: new { @style = "font-size:18px" })</li>                      
                        <li>@Html.ActionLink("Визиты", "VisitCollection", "Visit", routeValues: null, htmlAttributes: new { @style = "font-size:18px" })</li>
                    </ul>
                </div>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Высшая школа экономики, Пермь, 2018</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
