@model DoublePain.TypeOfService

<h2>Список типов услуг</h2>
@Html.ActionLink("Добавить тип услуг", "Add")
<br />

<table>
    <tr>
        <td>Название</td>
        <td>Цена</td>
        <td>Тип оплаты</td>
    </tr>
    @foreach (TypeOfService c in (IEnumerable<TypeOfService>)ViewData["TypeOfServices"])
    {
        <tr>
            <td>@c.Name</td>
            <td>@c.Price</td>
            <td>@c.TypeOfPrice.Type</td>
            <td>@Html.ActionLink("Открыть", "TypeOfService", new { id = c.Id })</td>
        </tr>
    }
</table>